<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />

    <title>{% block title %}{% endblock %}</title>

    {% block stylesheets %}{% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/gkratzanalytic/assets/favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/gkratzanalytic/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/gkratzanalytic/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/gkratzanalytic/css/custom.css') }}">
</head>
<body>

{% include 'GkratzAnalyticBundle:default:menu.html.twig' %}

{% block gkratz %}{% endblock %}

{% block footer %}
    {{ render_esi(controller('FrameworkBundle:Template:template', {
        'template': 'GkratzAnalyticBundle:default:footer.html.twig',
        'sharedAge': 600
    })) }}
{% endblock %}

<script src="{{ asset('bundles/gkratzanalytic/js/jquery.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/gkratzanalytic/js/bootstrap.min.js') }}" type="text/javascript"></script>
<script type="text/javascript" src="{{ asset('bundles/gkratzanalytic/js/myChart.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>
