<div id="f">
    <div class="container">
        <div class="row centered">
            <a href="https://twitter.com/deepweb_be" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="http://facebook.com/vanillaskype.websolutions" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://bitbucket.org/jul6art" target="_blank"><i class="fa fa-bitbucket"></i></a>

        </div><!-- row -->
    </div><!-- container -->
</div>