<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'Search filter' | trans }}</h3>
    </div>
    <div class="panel-body">
        {% block filter_error %} {{ form_errors(form) }}{% endblock %}
        <form method="post" class="form-group-md">
            <div class="row">
                <div class="col-md-6 pickerWrapper">
                    {{ form_row(form.date.left_date) }}
                </div>
                <div class="col-md-6 pickerWrapper">
                    {{ form_row(form.date.right_date) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.ip) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.country) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.city) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    {{ form_row(form.browser) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.host) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.newSession) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.language) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.page) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.referer) }}
                </div>
            </div>
            {{ form_rest(form) }}
            <div class="col-md-4 btn-filter">


            </div>
            <ul class="pagination">
                <li>
                    <button type="submit" name="search" id="1"><i class="fa fa-search"></i>{{ 'Search filter' | trans }}</button>
                </li>
                <li>
                    <button type="reset" name="reset" id="reset" value="1"><i class="fa fa-remove"></i>{{ 'Reset' | trans }}</button>
                </li>
            </ul>
            <div class="clearfix"></div>
        </form>
    </div>
</div>