<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://bitbucket.org/jul6art/gkratzanalyticbundle" target="_blank">{{ 'brand' | trans | raw }}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li {% if app.request.attributes.get('_route') == 'analyticsTable' %}class="active"{% endif %}><a href="{{ path('analyticsTable') }}"><i class="fa fa-calendar"></i> {{ "Table" | trans }}</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bar-chart"></i> {{ 'Visits of the week' | trans }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li {% if app.request.attributes.get('_route') == 'analyticsOneWeekPerUser' %}class="active"{% endif %}>
                            <a href="{{ path('analyticsOneWeekPerUser') }}"><i class="fa fa-user float-right"></i> {{ 'Per user' | trans }}</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li {% if app.request.attributes.get('_route') == 'analyticsOneWeekPerCountry' %}class="active"{% endif %}>
                            <a href="{{ path('analyticsOneWeekPerCountry') }}"><i class="fa fa-flag float-right"></i> {{ 'Per country' | trans }}</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li {% if app.request.attributes.get('_route') == 'analyticsOneWeekPerCity' %}class="active"{% endif %}>
                            <a href="{{ path('analyticsOneWeekPerCity') }}"><i class="fa fa-map-marker float-right"></i> {{ 'Per city' | trans }}</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li {% if app.request.attributes.get('_route') == 'analyticsOneWeekPerLanguage' %}class="active"{% endif %}>
                            <a href="{{ path('analyticsOneWeekPerLanguage') }}"><i class="fa fa-language float-right"></i> {{ 'Per language' | trans }}</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li {% if app.request.attributes.get('_route') == 'analyticsOneWeekPerBrowser' %}class="active"{% endif %}>
                            <a href="{{ path('analyticsOneWeekPerBrowser') }}"><i class="fa fa-sort-amount-asc float-right"></i> {{ 'Per browser' | trans }}</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-line-chart"></i> {{ 'Visits of the year' | trans }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li {% if app.request.attributes.get('_route') == 'analyticsOneYearPerUser' %}class="active"{% endif %}>
                            <a href="{{ path('analyticsOneYearPerUser') }}"><i class="fa fa-user float-right"></i> {{ 'Per user' | trans }}</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li {% if app.request.attributes.get('_route') == 'analyticsOneYearPerCountry' %}class="active"{% endif %}>
                            <a href="{{ path('analyticsOneYearPerCountry') }}"><i class="fa fa-flag float-right"></i> {{ 'Per country' | trans }}</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li {% if app.request.attributes.get('_route') == 'analyticsOneYearPerCity' %}class="active"{% endif %}>
                            <a href="{{ path('analyticsOneYearPerCity') }}"><i class="fa fa-map-marker float-right"></i> {{ 'Per city' | trans }}</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li {% if app.request.attributes.get('_route') == 'analyticsOneYearPerLanguage' %}class="active"{% endif %}>
                            <a href="{{ path('analyticsOneYearPerLanguage') }}"><i class="fa fa-language float-right"></i> {{ 'Per language' | trans }}</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li {% if app.request.attributes.get('_route') == 'analyticsOneYearPerBrowser' %}class="active"{% endif %}>
                            <a href="{{ path('analyticsOneYearPerBrowser') }}"><i class="fa fa-sort-amount-asc float-right"></i> {{ 'Per browser' | trans }}</a>
                        </li>
                    </ul>
                </li>




                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-file-archive-o"></i> {{ 'Page views of the week' | trans }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li {% if app.request.attributes.get('_route') == 'analyticsOneWeekPerPage' %}class="active"{% endif %}>
                            <a href="{{ path('analyticsOneWeekPerPage') }}"><i class="fa fa-file float-right"></i> {{ 'Per page' | trans }}</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li {% if app.request.attributes.get('_route') == 'analyticsOneWeekPages' %}class="active"{% endif %}>
                            <a href="{{ path('analyticsOneWeekPages') }}"><i class="fa fa-pie-chart float-right"></i> {{ "Total" | trans }}</a>
                        </li>
                    </ul>
                </li>




                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-file-archive-o"></i> {{ 'Page views of the year' | trans }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li {% if app.request.attributes.get('_route') == 'analyticsOneYearPerPage' %}class="active"{% endif %}>
                            <a href="{{ path('analyticsOneYearPerPage') }}"><i class="fa fa-file float-right"></i> {{ 'Per page' | trans }}</a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li {% if app.request.attributes.get('_route') == 'analyticsOneYearPages' %}class="active"{% endif %}>
                            <a href="{{ path('analyticsOneYearPages') }}"><i class="fa fa-pie-chart float-right"></i> {{ "Total" | trans }}</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>