{% extends 'GkratzAnalyticBundle::gkratzLayout.html.twig' %}

{% block title %}{{ "Per user" | trans }}: {{ "Monthly" | trans }}{% endblock %}

{% block gkratz %}
    <div class="container theme-showcase" role="main">

        <div class="page-header">
            <h1>{{ "Per user" | trans }}: {{ "Monthly" | trans }}</h1>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ "Monthly" | trans }}</h3>
                    </div>
                    <div class="panel-body table-responsive">
                        <div id="oneYearPerUser" class="myGCharts"></div>
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}

{% block javascripts %}
    <script>
        {{ chart(oneYearPerUser) }}
    </script>
{% endblock %}