{% extends 'GkratzAnalyticBundle::gkratzLayout.html.twig' %}

{% block title %}{{ "Per city" | trans }}: {{ "Daily" | trans }}{% endblock %}

{% block gkratz %}
    <div class="container theme-showcase" role="main">

        <div class="page-header">
            <h1>{{ "Per city" | trans }}: {{ "Daily" | trans }}</h1>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ "Daily" | trans }}</h3>
                    </div>
                    <div class="panel-body table-responsive">
                        <div id="sevenDaysPerCity" class="myGCharts"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ "Total" | trans }}</h3>
                    </div>
                    <div class="panel-body table-responsive">
                        <div id="pieOneWeekPerCity" class="myGCharts"></div>
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}

{% block javascripts %}
    <script>
        {{ chart(sevenDaysPerCity) }}
        {{ chart(pieOneWeekPerCity) }}
    </script>
{% endblock %}