{% extends 'GkratzAnalyticBundle::gkratzLayout.html.twig' %}

{% block title %}{{ "Table" | trans }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/gkratzanalytic/css/classic.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/gkratzanalytic/css/classic.date.css') }}">
{% endblock %}

{% block gkratz %}
    <div class="container theme-showcase" role="main">

        <div class="page-header">
            <h1>{{ "Table" | trans }}</h1>
        </div>

        {% include 'GkratzAnalyticBundle:default:form_filter.html.twig' %}

        {% if pagination is not null %}
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ "Total" | trans }}: {{ pagination.getTotalItemCount }}</h3>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table table-striped">
                        <tr>
                            <th>{{ knp_pagination_sortable(pagination, '#', 'a.id') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Date' | trans, 'a.date') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Ip' | trans, 'a.ip') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Country' | trans, 'a.country') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'City' | trans, 'a.city') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Language' | trans, 'a.language') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Browser' | trans, 'a.browser') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Host' | trans, 'a.host') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Session' | trans, 'a.newSession') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Page' | trans, 'a.page') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Referer' | trans, 'a.referer') }}</th>
                        </tr>

                        {% for article in pagination %}
                            <tr {% if loop.index is odd %}class="color"{% endif %}>
                                <td>{{ article.id }}</td>
                                <td>{{ article.date | date('d/m/Y H:i:s') }}</td>
                                <td>{{ article.ip }}</td>
                                <td>{{ article.country }}</td>
                                <td>{{ article.city }}</td>
                                <td>{{ article.language | trans }}</td>
                                <td>{{ article.browser | trans }}</td>
                                <td>{{ article.host }}</td>
                                <td>{% if article.newSession == 1 %}{{ 'yes' | trans }}{% else %}{{ 'no' | trans }}{% endif %}</td>
                                <td>{{ article.page }}</td>
                                <td>{{ article.referer }}</td>
                            </tr>
                        {% endfor %}
                    </table>

                    <div class="navigation text-center">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="alert alert-warning alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ 'no result' | trans }}
            </div>
        {% endif %}


    </div>
    <meta id="appLocale" data-locale="{{ app.request.locale }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/gkratzanalytic/js/reset.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/gkratzanalytic/js/picker.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/gkratzanalytic/js/picker.date.js') }}" type="text/javascript"></script>
    <script>
        //datepicker
        var locale = $('#appLocale').data('locale');
        if(locale == 'fr'){
            $('.datepicker').pickadate({
                monthsFull: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'],
                weekdaysShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                today: 'aujourd\'hui',
                clear: 'réinitialiser',
                format: 'dd/mm/yyyy',
                formatSubmit: 'dd/mm/yyyy',
                labelYearSelect: 'Sélectionnez une année',
                selectYears: true
            });
        }else{
            $('.datepicker').pickadate({
                monthsFull: ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'],
                weekdaysShort: ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'],
                today: 'today',
                clear: 'reset',
                format: 'dd/mm/yyyy',
                formatSubmit: 'dd/mm/yyyy',
                labelYearSelect: 'Select the year',
                selectYears: true
            });
        }
        $('body').click(function(e) {
            var target = $(e.target);
            if(target.is('div.pickerWrapper')) {
                $('div.picker').removeClass('picker--opened').removeClass('picker-focused').attr('data-hidden', 'true');
                target.find('div.picker').addClass('picker--opened').addClass('picker-focused').attr('data-hidden', 'false');
            } else if (target.is('input.datepicker.form-control')) {
                target.find('div.picker').addClass('picker--opened').addClass('picker-focused').attr('data-hidden', 'false');
            }else{
                $('div.picker').removeClass('picker--opened').removeClass('picker-focused').attr('data-hidden', 'true');
            }
        })
    </script>
    {# <script>
        //if problem with the century of the request, discomment these lines
        $(document).ready(function(){
            var rightDate = $('input[name="analytic_filter[date][right_date]"]').val();
            var leftDate = $('input[name="analytic_filter[date][left_date]"]').val();
            if (rightDate != ''){
                var rightYear = parseInt(rightDate.substr(rightDate.length - 4));
                $('input[name="analytic_filter[date][right_date]_submit"]').val(rightDate);
                var rightOptions = '';
                for(var i = (rightYear - 5); i <= (rightYear + 5); i++){
                    if (i == rightYear){
                        rightOptions = rightOptions + '<option value="' + i + '" selected="selected">' + i + '</option>';
                    }else{
                        rightOptions = rightOptions + '<option value="' + i + '">' + i + '</option>';
                    }
                }
                $('div#analytic_filter_date_right_date_root select.picker__select--year').html(rightOptions);
            }
            if(leftDate != ''){
                var leftYear = parseInt(leftDate.substr(leftDate.length - 4));
                $('input[name="analytic_filter[date][left_date]_submit"]').val(leftDate);
                var leftoptions = '';
                for(var i = (leftYear - 5); i <= (leftYear + 5); i++){
                    if (i == leftYear){
                        leftoptions = leftoptions + '<option value="' + i + '" selected="selected">' + i + '</option>';
                    }else{
                        leftoptions = leftoptions + '<option value="' + i + '">' + i + '</option>';
                    }
                }
                $('div#analytic_filter_date_left_date_root select.picker__select--year').html(leftoptions);
            }
        });
    </script> #}
{% endblock %}